In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(['EIN'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts < 10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

#**Compile, Train and Evaluate the Model**

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=20
hidden_nodes_layer2=26
hidden_nodes_layer3=3
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                5500

 dense_1 (Dense)             (None, 26)                546

 dense_2 (Dense)             (None, 3)                 81

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 6,131
Trainable params: 6,131
Non-trainable params: 0
_________________________________________________________________

In [15]:
#callback log for using tensorboard
import os
import datetime

logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [16]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[tensorboard_callback])

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5882 - accuracy: 0.7319
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5176 - accuracy: 0.7822
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4923 - accuracy: 0.7851
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4751 - accuracy: 0.7864
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4655 - accuracy: 0.7878
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4590 - accuracy: 0.7893
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4544 - accuracy: 0.7881
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4504 - accuracy: 0.7898
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7911
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4449 - accuracy: 0.7912
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4431 - accuracy: 0.7907
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4417 - accuracy: 0.7912
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4404 - accuracy: 0.7927
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4390 - accuracy: 0.7913
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4372 - accuracy: 0.7921
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4365 - accuracy: 0.7926
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4357 - accuracy: 0.7934
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4348 - accuracy: 0.7921
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4342 - accuracy: 0.7933
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4334 - accuracy: 0.7945
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4331 - accuracy: 0.7937
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4319 - accuracy: 0.7938
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4321 - accuracy: 0.7930
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4312 - accuracy: 0.7926
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4308 - accuracy: 0.7931
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4306 - accuracy: 0.7936
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4299 - accuracy: 0.7948
Epoch 28/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4298 - accuracy: 0.7939
Epoch 29/100
804/804 [==============================] - 8s 9ms/step - loss: 0.4294 - accuracy: 0.7945
Epoch 30/100
804/804 [==============================] - 8s 10ms/step - loss: 0.4290 - accuracy: 0.7943
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4287 - accuracy: 0.7938
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4279 - accuracy: 0.7953
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4276 - accuracy: 0.7948
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7954
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7951
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4271 - accuracy: 0.7949
Epoch 37/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4261 - accuracy: 0.7961
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4261 - accuracy: 0.7966
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4262 - accuracy: 0.7961
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7957
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7959
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4251 - accuracy: 0.7958
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4249 - accuracy: 0.7962
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4246 - accuracy: 0.7958
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4245 - accuracy: 0.7956
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4241 - accuracy: 0.7970
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4238 - accuracy: 0.7963
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.7962
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4237 - accuracy: 0.7956
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7962
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4235 - accuracy: 0.7972
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4227 - accuracy: 0.7964
Epoch 53/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4229 - accuracy: 0.7973
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7968
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4230 - accuracy: 0.7959
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4221 - accuracy: 0.7966
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4218 - accuracy: 0.7966
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4219 - accuracy: 0.7973
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4220 - accuracy: 0.7970
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7982
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.7970
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4216 - accuracy: 0.7966
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4214 - accuracy: 0.7981
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4215 - accuracy: 0.7979
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7972
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7966
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4216 - accuracy: 0.7975
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4207 - accuracy: 0.7973
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4209 - accuracy: 0.7971
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7971
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7978
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7968
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4202 - accuracy: 0.7972
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4203 - accuracy: 0.7971
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4202 - accuracy: 0.7983
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4199 - accuracy: 0.7976
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.7982
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4200 - accuracy: 0.7970
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4197 - accuracy: 0.7980
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4205 - accuracy: 0.7973
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7977
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4195 - accuracy: 0.7978
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7985
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7976
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4194 - accuracy: 0.7980
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7979
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4187 - accuracy: 0.7980
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7979
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7975
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.7980
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7983
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7977
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4184 - accuracy: 0.7979
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7983
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4185 - accuracy: 0.7994
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4180 - accuracy: 0.8001
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4184 - accuracy: 0.7982
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4180 - accuracy: 0.7985
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7982
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4180 - accuracy: 0.7990

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4633 - accuracy: 0.7801 - 543ms/epoch - 2ms/step
Loss: 0.4633362293243408, Accuracy: 0.7800583243370056

In [19]:
# Export our model to HDF5 file
from google.colab import files
nn.save('/content/AlphabetSoupCharity_Optimization1.h5')
files.download('/content/AlphabetSoupCharity_Optimization1.h5')